.contacts-map {
	height: rem(350);
	@media (min-width: $mobile) {
		height: rem(500);
	}
	@media (min-width: $tablet) {
		height: rem(750);
	}
	&__info-window {
		padding: rem(0) rem(10);
	}
	&__window-title {
		margin-bottom: rem(10);
	}
	&__window-text {
		font-size: rem(14);
		margin-bottom: rem(10);
	}
}
