// Заголовки, общие БЄМ блоки и проче...
@use 'sass:color';

.title {
	font-family: $fontFamily;
	font-weight: 700;
	color: $mainColor;
	line-height: 140%;
}

.h1 {
	@extend .title;
	@include adaptiveValue('font-size', 52, 36);
}

.h2 {
	@extend .title;
	@include adaptiveValue('font-size', 40, 28);
}

.h3 {
	@extend .title;
	@include adaptiveValue('font-size', 32, 24);
}

.h4 {
	@extend .title;
	@include adaptiveValue('font-size', 24, 20);
}

.h5 {
	@extend .title;
	font-size: rem(18);
}

.subtitle1 {
	font-family: $fontFamily;
	color: $mainColor;
	font-weight: 400;
	line-height: 140%;
	@include adaptiveValue('font-size', 20, 18);
}

.subtitle2 {
	font-family: $fontFamily;
	color: $mainColor;
	font-weight: 600;
	line-height: 140%;
	font-size: rem(16);
}

.button {
	background-color: $beigeColor;
	padding: rem(16) rem(30);
	text-transform: uppercase;
	font-weight: 800;
	font-size: rem(16);
	color: $whiteColor;
	border-radius: rem(8);
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #d8a270;
		}
	}
	&:active {
		background-color: #d39b67;
	}
	&_outline {
		border: rem(1) solid $brownColor;
		background-color: transparent;
		color: $brownColor;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $lightBeige;
			}
		}
		&:active {
			background-color: $lightBeige;
		}
	}
}

.link {
	position: relative;
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: rem(-1);
		left: 0;
		height: rem(1);
	}
	&::before {
		width: 100%;
		background-color: $beigeColor;
	}
	&::after {
		width: 0;
		background-color: $whiteColor;
		transition: width 0.4s ease 0s;
		transform: translateX(-50%);
		left: 50%;
	}
	@media (any-hover: hover) {
		&:hover {
			&::after {
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.tag {
	display: inline-block;
	color: $brownColor;
	background-color: $lightBeige;
	border-radius: rem(8);
	padding: rem(4) rem(12);
	line-height: 140%;
}
