//====================================================================================================

//====================================================================================================

.footer {
	background-color: $mainColor;
	color: $whiteColor;
	&__container {
	}

	&__body {
		display: flex;
	}

	&__left {
	}

	&__logo {
	}

	&__info {
	}

	&__copyright {
	}

	&__link {
	}

	&__logos {
	}

	&__right {
	}

	&__menu {
	}

	&__list {
	}

	&__subtitle {
	}

	&__item {
	}

	&__contacts {
	}

	&__email {
	}

	&__phone {
	}

	&__social {
	}

	&__instagram {
		&_desk {
		}

		&_mobile {
		}
	}
}
