//====================================================================================================

//====================================================================================================

.footer {
	padding: rem(60) 0;
	background-color: $mainColor;
	color: $whiteColor;
	@media (min-width: em(1220)) {
		padding: rem(100) 0;
	}
	&__container {
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(40);
		margin-bottom: rem(20);
		@media (min-width: $mobile) {
			flex-direction: row;
			gap: rem(20);
		}
		@media (min-width: em(1220)) {
			margin-bottom: rem(0);
		}
	}

	&__left {
		flex: 0 0 50%;
		display: flex;

		flex-direction: column;
		@media (min-width: em(1220)) {
			gap: rem(40);
		}
	}
	&__white-logo {
		margin-bottom: rem(40);
		@media (min-width: em(1220)) {
			margin-bottom: 0;
		}
	}

	&__partner-logo {
		display: grid;
		justify-content: center;
		justify-items: center;
		grid-template-columns: rem(76) 1fr;
		gap: rem(16);
		@media (min-width: $mobileSmall) {
			justify-content: flex-start;
			display: flex;
			align-items: center;
			flex: 0 0 50%;
		}

		p {
			font-size: rem(14);
			line-height: 140%;
			text-transform: uppercase;
			max-width: rem(162);
			flex: 0 0 auto;
		}
		img {
			max-height: rem(56);
		}
		@media (min-width: em(1220)) {
			margin-bottom: 0;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		color: #ffffff9f;
		margin-top: rem(60);
		@media (min-width: $mobileSmall) {
			flex-direction: row;
			gap: rem(10);
		}
		@media (min-width: em(1220)) {
			margin-top: 0;
			flex-direction: column;
		}
	}

	&__copyright {
		flex: 0 0 50%;
		@media (min-width: em(1220)) {
			flex: 1 1 auto;
		}
	}

	&__link {
		line-height: 130%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $beigeColor;
			}
		}
	}

	&__logos {
		max-width: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: rem(20);
		align-items: flex-start;
		@media (min-width: $mobileSmall) {
			flex-direction: row;
			align-items: flex-end;
		}
		@media (min-width: em(1220)) {
			max-width: rem(500);
		}
	}

	&__right {
		flex: 0 0 50%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: rem(40);
		@media (min-width: $tablet) {
			flex: 1 0 60%;
		}

		@media (min-width: em(1220)) {
			flex-direction: row;
			flex: 0 1 50%;
			gap: rem(20);
		}
	}

	&__menu {
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}

	&__subtitle {
		color: $beigeColor;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}

	&__item {
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		.footer__subtitle {
			display: none;
		}
	}

	&__email,
	&__phone {
		font-size: rem(18);
		display: flex;
		gap: rem(10);
		align-items: center;
	}
	&__email {
		margin-bottom: rem(20);
	}

	&__phone {
		margin-bottom: rem(30);
	}

	&__social {
	}

	&__instagram {
		display: flex;
		flex-direction: column;
		@media (any-hover: hover) {
			&:hover {
				> * {
					color: $beigeColor;
				}
			}
		}
		&_desk {
			display: none;
			@media (min-width: em(1220)) {
				display: flex;
			}
			img {
				max-width: rem(148);
			}
			span {
				margin-top: rem(10);
				font-size: rem(15);
				text-transform: uppercase;
				transition: color 0.3s ease 0s;
			}
		}

		&_mobile {
			display: flex;
			@media (min-width: em(1220)) {
				display: none;
			}
		}
	}
}
